<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
    <title>28x28 Grid Drawing with Probabilities</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div id="probabilities" aria-label="Digit probabilities">
        <!-- boxes will be dynamically added here -->
    </div>

    <div id="weights-b1" aria-label="Weights of b1 layer">
        <!-- boxes will be dynamically added here -->
    </div>

    <div class="container">
        <div id="grid" aria-label="28x28 drawing grid"></div>
    </div>

    <button id="resetBtn">Reset</button>

    <script src="static/script.js"></script>
</body>
</html>

