<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
    <title>mnist websockets</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    Click on the boxes below to load images from the dataset
    <div id="probabilities" aria-label="Digit probabilities">
        {% for i in range(10) %}
            <div class="prob-box" onclick="on_label_press({{ i }})">
                <span class="prob-number">{{ i }}</span>
                <div class="prob-bar" id="prob-bar-{{ i }}"></div>
            </div>
        {% endfor %}
    </div>

    <div id="weights-b1" aria-label="Weights of b1 layer">
        {% for i in range(128) %}
            <div class="weight-box" id="weight-box-{{ i }}"></div>
        {% endfor %}
    </div>

    <div class="container">
        <div id="grid" aria-label="28x28 drawing grid">
            {% for i in range(784) %}
                <div class="cell" data-intensity='0'></div>
            {% endfor %}
        </div>
        
    </div>
    You can draw with your mouse

    <button id="resetBtn">Reset</button>

    <script src="static/script.js"></script>
</body>
</html>

